body{
    background-color: antiquewhite;
}
h3{
    color: green;
}
p{
    font-family: serif;
    font-size: 18px;
    font-weight: normal;
}
h4{
    font-size: 20px;
    font-style: initial;
}
ul{
    font-style: oblique;
    font-size: 18px;
    color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    opacity: 1;
}
ul:hover{
    background-color:lemonchiffon;
    color:blue;
    border: black;
    padding: initial;
    flex-direction: column;
    text-align:left;
float: none;
}