body{
    background-color: antiquewhite;
}
img{
    border: black;
    background-color: black;
    padding: 1px;
    animation: reverse;
}
p{
    width: 80%;
    height: 100%;
    font-weight: normal;
    font-size: 18px;
    font-family: serif;
}
ul>img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1;
}
ul>li{
    box-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
h3{
   color: green;
    font-family: serif;
    font-weight: bold;
}
ul:hover{
    background-color:lemonchiffon;
    color:blue;
    border: black;
    padding: initial;
    flex: initial;
    text-align:left;
}